* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #dcdcdc;
}

header {
    background-color: white;
    /* height: 80px; */
}

header .logo {
    width: 60px;
    margin: 10px 15px;
    vertical-align: middle;
}

header .logo-text {
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

main {
    background-color: white;
    max-width: 700px;
    height: 600px; /*  rimuovimi */
    margin: 50px auto;
    /* padding: 0 40px; */
    border-radius: 10px;
}

.select {
    padding: 0 40px;
    border-bottom: 2px solid rgba(188, 188, 188, 0.478);
}

.select button {
    height: 2rem;
    padding: 5px 10px;
    margin: 20px 5px 10px 0;
    border: none;
    border-radius: 5px;
}

.select .btn-primary {
    background-color: #51A0D5;
    color: white;
}

.select .btn-secondary {
    background-color: transparent;
    color: gray;
    border: 1px solid grey;
}

ul {
    list-style: none;
}

.task-list {
    padding: 25px 40px;
}

/* ICONA DROPDOWN RICREATA CON I BORDI */
.dropdown-icon {
    display: inline-block;
    vertical-align: middle;
    border-top: 10px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.list-title {
    display: inline;
    vertical-align: middle;
}

.list-item-td {
    margin: 5px 0;
}

.align {
    vertical-align: middle;
}

.check-green {
    display: inline-block;
    color: green;
    font-size: 0.8em;
    border: 1px solid green;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
}

.tag {
    font-size: 0.7em;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 50px;
    color: white;
}

.tag-blue {
    background-color: #51A0D5;
}